@tailwind base;

@tailwind components;

@tailwind utilities;

/* Your custom CSS here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.min-height {
  min-height: 10vh;
}

.search {
  border-radius: 10px 0 0 10px;
  border: none;
}

.negative-search {
  border-radius: 0 10px 10px 0;
  border: none;
}
